{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h3>جزئیات سفارش</h3>
            <div class="card">
                <div class="card-header">
                  سفارش {{ order.id }} - {{ order.amount_paid | intcomma }} تومان
                </div>
                <div class="card-body">
                    به نام : {{ order.full_name }} <br>
                    ایمیل : {{ order.email }} <br>
                    آدرس : {{ order.shipping_address }} <br>
                    تاریخ ثبت : {{ order.date_ordered | date:"Y-m-d H:i:s" }} <br>
                    آخرین ویرایش : {{ order.last_update | date:"Y-m-d H:i:s" }} <br>
                    وضعیت : {{ order.get_status_display }} <br>
                    <hr>
                    کالا ها : <br>
                {% for item in items %}
                    {{ item.product }} | تعداد {{ item.quantity }} | عدد {{ item.price | intcomma }} | تومان
                    <br>
                {% endfor %}
                </div>
              </div>
              <br>
              <a href="{% url 'orders' %}" class="btn btn-primary">بازگشت به سفارشات</a>
        </div>
    </div>
</div>
{% endblock %}